@using App.Shared.Models
@model PersonalInfoViewModel

@{
    ViewData["Title"] = "Edit Personal Information";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-3">
    <div class="row">
        <div class="col-md-12">
            <h2>Edit Personal Information</h2>
            <partial name="Partials/ViewMessages" />
            <form asp-action="Edit" method="post">
                <div class="mb-3">
                    <label asp-for="FirstName" class="form-label"></label>
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="LastName" class="form-label"></label>
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="PhoneNumber" class="form-label"></label>
                    <input asp-for="PhoneNumber" class="form-control" />
                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="BirthDate" class="form-label"></label>
                    <input asp-for="BirthDate" class="form-control" type="date" />
                    <span asp-validation-for="BirthDate" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Address" class="form-label"></label>
                    <textarea asp-for="Address" class="form-control"></textarea>
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="my-3">
                    <input type="submit" value="Update Changes" class="btn btn-primary me-3" />  
                    <a asp-action="PersonalInfo">Back to Personal Information</a>
                </div>
            </form>
        </div>
    </div>
</div>
