@model UserUpdateViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<section id="edit-profile-section" class="hero" style="margin-top: 100px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Edit Profile</h2>
                <form asp-action="UploadProfilePhoto" method="post" class="mb-4">
                    <div class="form-group">
                        <label for="ProfilePicture">Change Profile Picture</label>
                        <input type="file" name="ProfilePicture" class="form-control-file" />
                    </div>
                    <button type="submit" class="btn btn-secondary">Upload</button>
                </form>
                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" value="@Model.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" value="@Model.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}