@model UserUpdateViewModel

@{
    ViewBag.Title = "Edit Profile";
}

<section id="edit-profile-section" class="hero" style="margin-top: 100px;">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Edit Profile</h2>
                <div class="text-center mb-4">
                    <img src="@Model.ProfilePictureUrl ?? "https://freesvg.org/img/abstract-user-flat-4.png"" alt="Profile Picture" class="img-thumbnail" style="width: 150px; height: 150px;">
                </div>
                <form asp-action="UploadProfilePhoto" method="post" enctype="multipart/form-data" class="mb-4">
                    <div class="form-group">
                        <label for="ProfilePicture">Change Profile Picture</label>
                        <input type="file" name="ProfilePicture" class="form-control-file" />
                    </div>
                    <button type="submit" class="btn btn-secondary">Upload</button>
                </form>
                <form asp-action="Edit" method="post">
                    <div class="form-group">
                        <label asp-for="UserName"></label>
                        <input asp-for="UserName" class="form-control" value="@Model.UserName" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" class="form-control" value="@Model.Email" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </form>
                <form asp-action="DeleteAccount" method="post" class="mt-3">
                    <input type="hidden" asp-for="Id" value="@Model.Id" />
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="confirmDelete" />
                        <label class="form-check-label" for="confirmDelete">Are you sure you want to delete your account?</label>
                    </div>
                    <button type="submit" class="btn btn-danger mt-2" id="deleteButton" disabled>Delete Account</button>
                </form>
            </div>
        </div>
    </div>
</section>

@section Scripts {
        <partial name="_ValidationScriptsPartial" />
    <script>
        document.getElementById('confirmDelete').addEventListener('change', function() {
            document.getElementById('deleteButton').disabled = !this.checked;
        });
    </script>
}