@using App.Shared.Models
@model ForgotPasswordViewModel

@{
    Layout = null;
    ViewData["Title"] = "Forgot Password";
}

<!DOCTYPE html>
<html lang="en" class="light-style customizer-hide" dir="ltr" data-theme="theme-default" data-assets-path="../assets/" data-template="vertical-menu-template-free">
<head>
    <partial name="Partials/_HeadAuth.cshtml" />
</head>
<body>
    <!-- Content -->

    <div class="container-xxl">
        <div class="authentication-wrapper authentication-basic container-p-y">
            <div class="authentication-inner py-4">
                <!-- Forgot Password -->
                <div class="card">
                    <div class="card-body">
                        <h4 class="mb-2">Forgot Password? 🔒</h4>
                        <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>

                        <!-- Dinamik Forgot Password Form -->
                        <form asp-action="ForgotPassword" method="POST" class="mb-3" id="formAuthentication">
                            <div class="mb-3">
                                <label asp-for="Email" class="form-label"></label>
                                <input asp-for="Email" class="form-control" placeholder="Enter your email" autofocus />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <button class="btn btn-primary d-grid w-100" type="submit">Send Reset Link</button>
                        </form>

                        <div class="text-center">
                            <a asp-action="Login" class="d-flex align-items-center justify-content-center">
                                <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                                Back to login
                            </a>
                        </div>
                    </div>
                </div>
                <!-- /Forgot Password -->
            </div>
        </div>
    </div>

    <!-- / Content -->

    <partial name="Partials/_ScriptsAuth.cshtml" />
</body>
</html>
