
<section id="home-section" class="hero">
    <vc:about-me view-name="Hero" />
</section>

<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <vc:about-me view-name="AboutMe" />
</section>

<section class="ftco-section" id="education-section">
    <vc:education />
</section>

<section class="ftco-section ftco-no-pb" id="resume-section">
    <vc:experience />
</section>

<section class="ftco-section ftco-project" id="projects-section">
    <vc:project />
</section>

<section class="ftco-section" id="blog-section">
    <vc:blog-posts view-name="Main" />
</section>

<section class="ftco-section contact-section ftco-no-pb" id="contact-section">
    <vc:contact-message />
</section>
