@using App.Shared.Models
@model ProjectEditViewModel

@{
    ViewData["Title"] = "Edit Project";
    Layout = "_Layout";
}

<div class="container mt-3">
    <div class="row">
        <h2>Edit Project</h2>

        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>

            <div class="form-group my-3">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" type="file" class="form-control-file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>

            <button type="submit" class="btn btn-primary">Save Changes</button>
            <a asp-action="Projects" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>
@section Scripts {
    <partial name="_ValidationScriptsPartial.cshtml" />
}