<!-- Menu -->

<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
        <a asp-action="Index" class="app-brand-link">
            <span class="app-brand-text demo menu-text fw-bolder ms-2">Sneat</span>
        </a>

        <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
            <i class="bx bx-chevron-left bx-sm align-middle"></i>
        </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
        <!-- Dashboard -->
        <li class="menu-item active">
            <a asp-action="Index" class="menu-link">
                <i class="menu-icon tf-icons bx bx-home-circle"></i>
                <div data-i18n="Analytics">Panel</div>
            </a>
        </li>
        <li class="menu-header small text-uppercase">
            <span class="menu-header-text">Pages</span>
        </li>
        <!-- Pages -->
        <li class="menu-item">
            <a asp-action="AboutMe" class="menu-link">
                <div>About Me</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="PersonalInfo" asp-controller="PersonalInfo" class="menu-link">
                <div>Personal Info</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="Educations" asp-controller="Education" class="menu-link">
                <div>Educations</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="Experiences" asp-controller="Experience" class="menu-link">
                <div>Experiences</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="Projects" asp-controller="Project" class="menu-link">
                <div>Projects</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="BlogPosts" class="menu-link">
                <div>Blog Posts</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="Comments" class="menu-link">
                <div>Comments</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="ContactMessages" asp-controller="ContactMessage" class="menu-link">
                <div>Contact Messages</div>
            </a>
        </li>
        <li class="menu-item">
            <a asp-action="Users" asp-controller="User" class="menu-link">
                <div>Users</div>
            </a>
        </li>
    </ul>
</aside>
<!-- / Menu -->